:root {
    --col-bg: #fff;
    --col-on-bg: #222;
    --col-accent-a: #6ba8a9;
    --col-on-accent-a: #e5dfdf;    
    --col-accent-b: gold ;
    --col-on-accent-b: white;
    --col-accent-c: turquoise;
    --col-on-accent-c: seagreen;
    --font-a: arial, helvetica, sans-serif;
    --font-b:'Courier New', Courier, monospace;
    --spacing: 1em;
    --height:1.25em;
    --max-width:60em;
    --font-bigger:1.5em;
 }

 .heading{
    background-image: url(/img/canada-flag.jpeg);
    border: solid black 10px;
    background-size: 150px;
    height: 100%;
    width: 100%;
} 
 body{
     background-color: var(--col-bg);
     color: var(--col-on-bg);
     box-sizing: border-box;
     margin: auto;
     width: auto;
     height: auto;
     padding: 1em;
     line-height: var(--height);
     font-family: var(--font-a);
 }
 .container{
     max-width:var(--max-width);
     /* border: solid rgb(231, 50, 50) 10px; */
     margin-left: auto;
     margin-right: auto;
 }
 img{
    width: auto;
    max-width: 100%;
    object-fit: cover;
    padding: 0;
    display: block;
}

ul{
      text-align: left;
      display: block;
      padding: 0;
}

.li-bottom{
    list-style: none;
    display: inline-block; 
}

.li-general{
    list-style: none;
}

.icon{
    width: 50%;
    height: 50%;
}


.main-footer{
    background-color: var(--col-accent-c);
    color: var(--col-on-accent-c);
}

.main-paragraph{
    font-family: var(--font-b);
    font-size: var(--font-bigger);
}


.external-links{
    border-top: solid rgb(231, 50, 50) 10px; 
    border-bottom: solid rgb(231, 50, 50) 10px; 
    background-color: var(--col-accent-b);  
    color: var(--col-on-accent-b);
}

.link-button{
    background-color: var(--col-accent-a);
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: var(--col-accent-c);
}

.flex-item {
    flex-grow: 1;
    margin: 1em;
}