:root {
    --col-bg: #fff;
    --col-on-bg: #222;
    --col-accent-a: #6ba8a9;
    --col-on-accent-a: #e5dfdf;    
    --col-accent-b: gold ;
    --col-on-accent-b: white;
    --col-accent-c: turquoise;
    --col-on-accent-c: seagreen;
    --font-a: arial, helvetica, sans-serif;
    --font-b:'Courier New', Courier, monospace;
    --spacing: 1em;
    --height:1.25em;
    --max-width:60em;
    --font-bigger:1.5em;
 }
 body{
     background-color: var(--col-bg);
     color: var(--col-on-bg);
     box-sizing: border-box;
     margin: auto;
     width: auto;
     height: auto;
     padding: 1em;
     line-height: var(--height);
     font-family: var(--font-a);
 }
 div{
     text-align: left
 }
 .container{
     max-width:var(--max-width);
     /* border: solid rgb(231, 50, 50) 10px; */
     margin-left: auto;
     margin-right: auto;
 }
 img{
    width: auto;
    max-width: 100%;
    object-fit: cover;
    padding: 0;
    display: block;
}
ul{
      text-align: left;
      display: block;
      padding: 0;
}

li{
    list-style: none;
    /* padding: 0; */
    display: inline-block;
    /*align-items: center;*/
 
}
.icon{
    width: 50%;
    height: 50%;
}
.heading{
    background-image: url(/img/canada-flag.jpeg);
    border: solid black 10px;
}

footer{
    background-color: var(--col-accent-c);
    color: var(--col-on-accent-c);
}
.main-paragraph{
    font-family: var(--font-b);
    font-size: var(--font-bigger);
}
blockquote{
    margin-left:5em;
   /* border-left-style: solid;*/
    font-style: italic;
}

.external-links{
    border-top: solid rgb(231, 50, 50) 10px; 
    border-bottom: solid rgb(231, 50, 50) 10px; 
    background-color: var(--col-accent-b);  
    color: var(--col-on-accent-b);
}

.link-button{
    background-color: var(--col-accent-a);
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}
